.formContainer {
  display: flex;
}

form,
.selectOptionsContainer {
  display: flex;
}

.formLabel {
  margin: 0 0.2em;
}

select {
  font-family: "Poppins", sans-serif;
  padding: 0.2em;
}

.clearFiltersBtn {
  font-family: "Poppins", sans-serif;
  padding: 0.2em 1em;
  border: none;
  font-weight: 500;
  margin-right: 0.5em;
}

.clearFiltersBtn:hover {
  background-color: #60d98f;
  transition-duration: 0.3s;
}

@media only screen and (max-width: 750px) {
  .selectOptionsContainer {
    flex-direction: column;
    margin: 0 0.5em;
    align-items: flex-end;
  }

  .clearFiltersBtn {
    border-radius: 8px;
  }
}
