.projContainer {
  grid-area: projList;
  max-width: 500px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projList {
  list-style: none;
  padding: 0;
  margin: 0;
}