li {
  font-family: "Poppins", sans-serif;
}

.projContainer {
  display: flex;
  justify-content: space-between;
  background-color: hsl(143, 61%, 61%, 0.4);
  margin: 0 0 0.75em 0;
  padding: 0.85em;
  border-radius: 6px;
}

.projContainer:hover {
  background-color: hsl(143, 61%, 61%);
  transition-duration: 0.5s;
}

.projectName {
  margin: 0;
}

.isSelected {
  background-color: hsl(143, 61%, 61%);
}
