.aboutContainer {
  font-family: "Poppins", sans-serif;
  background-color: rgba(108, 210, 232, 0.5);
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(49, 95, 105);
  padding: 2em;
  display: flex;
  gap: 2em;
}

.image {
  max-width: 500px;
  object-fit: fill;
}

.linkContainer {
  text-align: center;
}

.linkToHome {
  background-color: rgba(49, 95, 105);
  color: white;
  text-decoration: none;
  padding: 0.2em 1em;
  border-radius: 5px;
}

.linkToHome:hover {
  background-color: rgba(49, 95, 105, 0.8);
}
