h2 {
  font-family: "Courgette", cursive;
  margin: 0;
  text-align: center;
}

h3,
.mapBar,
p {
  font-family: "Poppins", sans-serif;
}

.mapPageContainer {
  margin: 0 auto;
  max-width: 1800px;
}

.container {
  display: grid;
  grid-template-areas:
    "mapBar header"
    "map projList";
  gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
}

/* grid areas */
.mapBar {
  grid-area: mapBar;
  display: flex;
  justify-content: space-between;
}

.mapContainer {
  grid-area: map;
}

.projsHeader {
  grid-area: header;
  text-align: center;
}

.projList {
  grid-area: projList;
}

.mapBar,
.mapContainer {
  max-width: 1200px;
}

.projsHeader,
.projList {
  max-width: 600px;
}

.addProjBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  background: #0f9d58;
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 8px;
  justify-items: center;
}

.addProjBtn:hover {
  background: #60d98f;
  transition-duration: 0.3s;
}

.faIcon {
  vertical-align: middle;
}

/* Media Queries - largest to smallest */
@media only screen and (max-width: 1000px) {
  .container {
    grid-template-areas:
      "mapBar"
      "map"
      "header"
      "projList";
  }

  .projList {
    margin: 0 auto;
  }

  .projsHeader {
    margin: 2em auto 0 auto;
  }
}
