h2 {
  font-family: "Courgette", cursive;
  margin: 0;
  text-align: center;
}

h3,
.mapBar,
p {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "mapBar header"
    "map projList";
  gap: 1em;
}

/* grid areas */
.projsHeader {
  grid-area: header;
  text-align: center;
}

.mapContainer {
  grid-area: map;
}

.mapBar {
  grid-area: mapBar;
  display: flex;
  justify-content: space-between;
}

.projList {
  grid-area: projList;
}

.addProjBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  background: #0f9d58;
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 8px;
  justify-items: center;
}

.addProjBtn:hover {
  background: #60d98f;
  transition-duration: 0.3s;
}
