body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* .mapContainer {

} */

.mapBar {
  display: flex;
  justify-content: space-between;
}

.projContainer {
  max-width: 500px;
}

.projList {
  list-style: none;
  padding: 0.5em;
}

.addProjBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  background: #0f9d58;
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 8px;
}

.addProjBtn:hover {
  background: #60d98f;
  transition-duration: 0.3s;
}
