body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header mapBar mapBar mapBar"
    "projList map map map";
}

/* grid areas */
.projsHeader {
  grid-area: header;
  border: solid 2px black;
}

.mapContainer {
  grid-area: map;
  border: solid 2px black;
}

.mapBar {
  grid-area: mapBar;
  display: flex;
  justify-content: space-between;
  border: solid 2px black;
}

.projContainer {
  grid-area: projList;
  max-width: 500px;
  border: solid 2px black;
}

.projList {
  list-style: none;
  padding: 0.5em;
}

.addProjBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  background: #0f9d58;
  color: white;
  padding: 0.3em 1.5em;
  border-radius: 8px;
}

.addProjBtn:hover {
  background: #60d98f;
  transition-duration: 0.3s;
}
