.container {
  display: flex;
  flex-direction: row-reverse;
}

.mapContainer {
  border: solid 5px blue;
}

.mapBar {
  display: flex;
  justify-content: space-between;
}

.projContainer {
  border: solid 3px green;
}

.projList {
  list-style: none;
}
