.projContainer {
  display: flex;
  justify-content: space-between;
  background-color: hsl(143, 61%, 61%, 0.4);
  margin: 0.5em 0;
}

.projContainer:hover {
  background-color: hsl(143, 61%, 61%);
}
